{{ 'style.css' | asset_url | stylesheet_tag }}
{{ 'star-rating.css' | asset_url | stylesheet_tag }}

{% assign avg_rating = block.settings.product.metafields.reviews.rating.value.rating | plus: 0 %}
{% assign reviews = block.settings.product.metafields.prapp-pub-reviews %}

<div class="prapp-block" style="padding: {{ block.settings.padding_y }}px {{ block.settings.padding_x }}px;" data-product-id="{{ block.settings.product.id }}">
  <div class="prapp-summary">
    <div class="prapp-summary__header">
      <h2 class="prapp-summary__headline">{{ block.settings.heading }}</h2>
      <div class="prapp-summary__rating">
          <span class="rate" style="font-size: 50px;">
          <i data-value="1">★</i>
          <i data-value="2">★</i>
          <i data-value="3">★</i>
          <i data-value="4">★</i>
          <i data-value="5">★</i>
          </span>
    </div>
  </div>
</div>

<script src="{{ 'star-rating.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "t:blocks.product-reviews.name",
  "templates": ["product"],
  "target": "section",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "t:blocks.product-reviews.settings.heading.label",
      "default": "Customer Reviews"
    },
    {
      "id": "product",
      "type": "product",
      "label": "t:blocks.product-reviews.settings.product.label",
      "autofill": true
    }
  ]
}
{% endschema %}
