{% comment %} {{ 'style.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ 'star-rating.css' | asset_url | stylesheet_tag }}

<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

{% assign avg_rating = block.settings.product.metafields.reviews.rating.value.rating | plus: 0 %}
{% assign reviews = block.settings.product.metafields.prapp-pub-reviews %}

{% comment %} <div class="prapp-block" style="padding: {{ block.settings.padding_y }}px {{ block.settings.padding_x }}px;" data-product-id="{{ block.settings.product.id }}">
  <div class="prapp-summary">
    <div class="prapp-summary__header">
      <h2 class="prapp-summary__headline">{{ block.settings.heading }}</h2>
      <div class="prapp-summary__rating">
          <span class="rate" style="font-size: 50px;">
          <i data-value="1">★</i>
          <i data-value="2">★</i>
          <i data-value="3">★</i>
          <i data-value="4">★</i>
          <i data-value="5">★</i>
          </span>
    </div>
  </div>
</div> {% endcomment %}

<div class="product-review-form">
  <h2>{{block.settings.heading }}</h2>
  <form action="/path-to-your-review-handler" method="post">
    <div class="star-rating">
      {% for i in (1..5) reversed%}
        <input type="radio" name="rating" value="{{ i }}" id="rating-{{ i }}" {% if i == 5 %}checked{% endif %}>
        <label for="rating-{{ i }}" title="{{ i }} stars">
          <i class="fa fa-star"></i>
        </label>
      {% endfor %}
    </div>
    <p>Your name: {{customer.name}}</p>
    <p>Your email: {{customer.email}}</p>
    <textarea name="review" placeholder="Write your feedback here..." required></textarea>
    <button type="submit">Submit Review</button>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('.product-review-form form').addEventListener('submit', function(e) {
      e.preventDefault();

      const SERVER_URL = 'http://localhost:49880'

      // Capture the review details
      var rating = document.querySelector('input[name="rating"]:checked').value;
      var reviewText = document.querySelector('textarea[name="review"]').value;
   
      // Prepare data to be sent to your server
      var reviewData = JSON.stringify({
        productId: '{{ product.id }}',
        productTitle: "{{ product.title }}",
        userId: '{{ customer.id }}',
        userEmail: '{{ customer.email }}',
        userName: '{{ customer.name }}',
        shopId: '{{ shop.permanent_domain }}',
        rating: rating,
        comment: reviewText,
      });

      console.log(reviewData)

      fetch(SERVER_URL + '/api/products/reviews', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: reviewData
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        // Handle success
        // show user info that review has been submitted
        document.querySelector('.product-review-form').innerHTML = '<p>Thank you for your review!</p>';
      })
      .catch((error) => {
        // Handle error
        console.error('Error submitting review:', error);
        alert('Failed to submit review. Please try again.');
      });
    });
  });
</script>


{% comment %} <script src="{{ 'star-rating.js' | asset_url }}" defer></script> {% endcomment %}

{% schema %}
{
  "name": "t:blocks.product-reviews.name",
  "templates": ["product"],
  "target": "section",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "t:blocks.product-reviews.settings.heading.label",
      "default": "Customer Reviews"
    },
    {
      "id": "product",
      "type": "product",
      "label": "t:blocks.product-reviews.settings.product.label",
      "autofill": true
    }
  ]
}
{% endschema %}
